@font-face {
  font-family: 'FiraCode';
  src: url('./fonts/FiraCode-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'FiraCode';
  src: url('./fonts/FiraCode-Bold.woff2') format('woff2');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'FiraCode';
  overflow: hidden;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  list-style: none;
}

ul ul {
  padding-top: 0.25rem;
  padding-left: 1.5rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}
